<h1>Mes restau</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
   <li>
     <%= link_to restaurant.name, restaurant_path(restaurant) %>
   </li>
    <% end %>

</ul>

<button class="btn btn-primary"><%= link_to 'Create new restaurant', new_restaurant_path %>
</button>

